* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

/*-------------------------*/
/* GENERAL CONFIG */
#page-wrapper {
    max-width: 1200px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 0.625rem;
    margin: 0 auto;
    min-width: 25rem;
    padding-bottom: 0.5rem;
}

.split {
    padding: 0.625rem;
    width: 100%;
    gap: 1.25rem;
}

.grid {
    display: grid;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#container2 .split, #container3 {
    background-color: rgb(216, 215, 215);
}


/*-------------------------*/
/* HEADER */
#container1 {
    grid-template-rows: auto auto;
    padding: 0;
    gap: 6.25rem;
    background: url(images/header.jpg) no-repeat center center;
}

#container1 .split {
    padding: 1.25rem;
}

#split1A {
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;
    color: rgb(128, 128, 128);
}

#container1 .item {
    height: auto;
}

#div-logo {
    place-content: center;
}

#logo {
    max-height: 5.3rem;
    width: auto;
    animation: inLeft 600ms ease-out 1;
}

#navbar {
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    animation: inUp 800ms ease-out 1;
}

.navbar-item {
    grid-template-columns: auto auto;
    gap: 0.3rem;
    cursor: pointer;
}

#div-social {
    gap: 1.25rem;
    animation: inRight 600ms ease-out 1;
    grid-template-columns: auto auto;
    place-content: center;
}

#div-social * {
    cursor: pointer;
}

.navbar-item:hover, #div-social *:hover {
    transform: scale(1.1);
}

#split1B {
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(178, 173, 173, 0.35);
    padding-top: 1.6rem !important;
    padding-bottom: 3.4rem !important;
    width: 90%;
    margin: 0 auto;
}

.item2 {
    color: rgba(235, 143, 104, 0.9);
    font-weight: normal;
    font-size: 1.8rem;
    font-family: serif;
    text-align: center;
    animation: fadeIn 1s ease-out 1;
}

/*-------------------------*/
/* CONTAINER 2 */
#container2 {
    padding: 0;
    grid-template-columns: 3fr 1fr;
    gap: 0.625rem;
}

#split2A {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
}

article {
    padding: 0.625rem;
    background-color: rgb(244, 241, 241);
}

.article-figure {
    position: relative;
}

.figure-image {
    height: auto;
    width: 100%;
}

.figure-date {
    position: absolute;
    bottom: 6px;
    left: 5px;
    color: rgb(222, 200, 125);
}

.article-title {
    background-color: rgb(225, 134, 131);
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 10px 5px 3px 5px;
}

.article-text {
    column-count: 2;
    column-gap: 1.1rem;
    padding: 1.25rem 5px;
    color: rgb(94,94,94);
}

.read-more {
    color: rgb(139, 138, 138);
    padding: 0 5px;
}

#article-summary {
    grid-column: 1 / 3;
    text-align: center;
    padding: 0 0.6rem;
}

#split2B {
    grid-template-rows: auto 1fr;
    text-align: center;
}

#aside-title {
    margin-top: 1.875rem;
    font-size: 1.5rem;
}

#aside-text {
    margin-bottom: 1rem;
}

/*-------------------------*/
/* CONTAINER 3 */
#container3 {
    padding: 0 0.625rem;
}

#split3A {
    background-color: rgb(244, 241, 241);
    text-align: center;
    color: rgb(94,94,94);
}

/*-------------------------*/
/* ANIMATIONS */ 
@keyframes inLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes inRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes inUp {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*-------------------------*/
/* MEDIA QUERIES */  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {

    #page-wrapper {
        padding: 0;
    }

    #logo {
        max-height: 4rem;
    }

    #container2 {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    #aside-title {
        margin-top: 1rem;
    }

  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    #page-wrapper {
        padding: 0;
    }

    #logo {
        max-height: 4rem;
    }

    #container2 {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    #aside-title {
        margin-top: 1rem;
    }
    
  }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    #page-wrapper {
        padding: 0;
    }

    #split1A {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto;
        margin-bottom: 1.25rem;
    }

    .item1 {
        font-size: 0.875rem;
    }

    #logo {
        max-height: 4rem;
        animation: inUp 600ms ease-out 1;
    }

    nav {
        width: 100%;
    }

    #navbar {
        gap: 0.9rem;
        animation: fadeIn 600ms ease-out 1;
    }

    #div-social {
        animation: fadeIn 600ms ease-out 1;
    }

    #container2 {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    #split2A {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }

    .item2 {
        font-size: 1.375rem;
    }

    #article-summary {
        grid-column: 1 / 1;
    }

    #aside-title {
        margin-top: 1rem;
    }
    
  }

  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {

    #page-wrapper {
        padding: 0;
    }

    #split1A {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto;
        margin-bottom: 1.25rem;
    }

    .item1 {
        font-size: 12px;
    }

    #logo {
        max-height: 55px;
        animation: inUp 600ms ease-out 1;
    }

    nav {
        width: 100%;
    }

    #navbar {
        gap: 15px;
        animation: fadeIn 600ms ease-out 1;
    }

    #div-social {
        animation: fadeIn 600ms ease-out 1;
    }

    #container2 {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    #split2A {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }

    .item2 {
        font-size: 20px;
    }

    #article-summary {
        grid-column: 1 / 1;
    }

    #aside-title {
        margin-top: 1rem;
    }
    
  }

  /* 
    ##Device = Rest of the screens (Small)
    ##Screen = Below 320px
  */
  @media (max-width: 319px) {

    #page-wrapper {
        padding: 0;
    }

    #split1A {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: auto;
        margin-bottom: 1.25rem;
    }

    .item1 {
        font-size: 12px;
    }

    #logo {
        max-height: 55px;
        animation: inUp 600ms ease-out 1;
    }

    nav {
        width: 100%;
    }

    #navbar {
        gap: 15px;
        animation: fadeIn 600ms ease-out 1;
    }

    #div-social {
        animation: fadeIn 600ms ease-out 1;
    }

    #container2 {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    #split2A {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }

    .item2 {
        font-size: 20px;
    }

    #article-summary {
        grid-column: 1 / 1;
    }

    #aside-title {
        margin-top: 1rem;
    }
    
  }
